@model CleanArchMvc.Application.DTOs.CategoryDTO

@{
    ViewData["Title"] = "Edit Category";
}

<h2>@ViewData["Title"]</h2>
<hr />
<form asp-action="Edit" method="post">
    <div>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="mb-3">
            <label asp-for="Name" class="col-md-2 form-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        <div class="mb-3">
            <div class="col-md-10">
                <input type="submit" value="Save" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-info">Back to List</a>
            </div>
        </div>
    </div>
</form>