@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>
    @ViewData["Title"]
</h1>
<blockquote>
    <p>Last updated: December 05, 2023</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu semper ante, non viverra tortor. Integer id urna consequat, porta enim ut, suscipit purus. Vivamus vestibulum fringilla ultrices. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
    <p>Vestibulum suscipit ante risus, nec molestie ex finibus non. Proin interdum non est at egestas. In a nulla rutrum, efficitur mauris sed, tempor felis. Proin leo ex, tristique et purus at, bibendum lobortis eros. Vestibulum ut tincidunt ipsum. Praesent diam massa, ultricies eget convallis in, pulvinar eget lectus. Ut posuere feugiat sem at luctus.</p>
    <h2>Interpretation and Definitions</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu semper ante, non viverra tortor. Integer id urna consequat, porta enim ut, suscipit purus. Vivamus vestibulum fringilla ultrices. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
    <p>Vestibulum suscipit ante risus, nec molestie ex finibus non. Proin interdum non est at egestas. In a nulla rutrum, efficitur mauris sed, tempor felis. Proin leo ex, tristique et purus at, bibendum lobortis eros. Vestibulum ut tincidunt ipsum. Praesent diam massa, ultricies eget convallis in, pulvinar eget lectus. Ut posuere feugiat sem at luctus.</p>
</blockquote>
<hr />
<blockquote>
    <h2>Usage Data</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu semper ante, non viverra tortor. Integer id urna consequat, porta enim ut, suscipit purus. Vivamus vestibulum fringilla ultrices. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
    <p>Vestibulum suscipit ante risus, nec molestie ex finibus non. Proin interdum non est at egestas. In a nulla rutrum, efficitur mauris sed, tempor felis. Proin leo ex, tristique et purus at, bibendum lobortis eros. Vestibulum ut tincidunt ipsum. Praesent diam massa, ultricies eget convallis in, pulvinar eget lectus. Ut posuere feugiat sem at luctus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu semper ante, non viverra tortor. Integer id urna consequat, porta enim ut, suscipit purus. Vivamus vestibulum fringilla ultrices. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
    <p>Vestibulum suscipit ante risus, nec molestie ex finibus non. Proin interdum non est at egestas. In a nulla rutrum, efficitur mauris sed, tempor felis. Proin leo ex, tristique et purus at, bibendum lobortis eros. Vestibulum ut tincidunt ipsum. Praesent diam massa, ultricies eget convallis in, pulvinar eget lectus. Ut posuere feugiat sem at luctus.</p>
</blockquote>